<ion-content>
  <img class="background" src="assets/dotted-structure.png" aria-hidden="true">
  <div class="responsive-grid">
    <div class="grid-item">
      <div>
        <h1>what we see</h1>
        <div class="carousel-container">
          <app-image-carousel></app-image-carousel>
        </div>
      </div>
    </div>
    <div class="grid-item">
      <app-image-upload></app-image-upload>
    </div>
  </div>

  <app-appliance-box>
    [mainLabel]="'Appliances and Systems'"
    [items]="applianceItems">
  </app-appliance-box>
</ion-content>
