<ion-content>
  <img class="background" src="assets/dotted-structure.png" aria-hidden="true">
  <div class="responsive-grid">
    <div class="grid-item">
      <div>
        <h1>what we see</h1>
        <div class="carousel-container" *ngIf="previews.length > 0">
          <app-image-carousel [images]="previews"></app-image-carousel>
        </div>
      </div>
    </div>
    <div class="grid-item">
      <!-- <app-loading></app-loading> -->
      <app-appliance-box
        [mainLabel]="'Appliances and Systems'"
        [items]="applianceItems">
      </app-appliance-box>
    </div>
  </div>
</ion-content>
