<ion-content>
  <img class="background" src="assets/dotted-structure.png" aria-hidden="true">
  <div class="container">
    <app-image-upload></app-image-upload>
  </div>
    <h1>first warranter</h1>
    <div class="rectangle">
      <img class="rect-deco-1" src="assets/small-yellow-rectangle.png"  aria-hidden="true">
      <img class="rect-deco-2" src="assets/med-pink-rectangle.png"  aria-hidden="true">
      <img class="star-outline star-deco-1" src="assets/4-point-star-outline.svg" aria-hidden="true">
      <img class="star-solid star-deco-2" src="assets/4-point-star-solid.svg" aria-hidden="true">
      <p>first warranter</p>
    </div>
    <h2>start appraising right away</h2>
</ion-content>