<div class="box-wrapper">
  <div class="main-label-container">
    <span class="main-label">{{ mainLabel }}</span>
  </div>

  <ion-list lines="none">
    <ion-item *ngFor="let item of items" class="appliance-item">
      <ion-label>
        <span class="description">{{ item.description }}:</span>
        <span class="price">{{ item.price}}</span>
      </ion-label>
    </ion-item>
  </ion-list>

  <!--<div class="loading-footer" *ngIf="isLoading">
    <ion-spinner name="dots"></ion-spinner>
  </div>
-->
</div>
